@import '../styles/variables';

header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;

  transition: top 0.5s ease, background-color 0.5s ease;

  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;

  h1 {
    line-height: 1;
  }

  @include media-breakpoint-up(sm) {
    .topnav a.icon {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .topnav {
      a:not(:first-child) {
        display: none;
      }
      a.icon {
        float: right;
        display: block;
      }

      &.responsive {
        position: relative;
      }
    }
  }
}

.section-color--white {
  header {
    a {
      color: $body-color-inverted;
    }
  }
}
