@import '../styles/variables';

.splash-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 101vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 100;
  background: $body-bg;

  transition: 1s ease-in-out;
  border-radius: $border-radius;

  text-align: center;

  &.loaded {
    transform: translateY(-100%);
    opacity: 0.3;
  }

  h1 {
    animation: fadeIn 1s ease-in;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
