@import '../styles/variables';

.section-color--white {
  section.page-section {
    background-color: transparent;
    color: $body-color-inverted;
  }
}

.page-section {
  background-color: $body-bg;
  color: $body-color;
  position: relative;
  display: flex;
  box-sizing: border-box;

  &:first-child {
    padding-top: 90px;
  }

  > .container,
  > .container-fluid {
    position: relative;
    padding-bottom: 3vw;
    padding-right: 3vw;
    padding-left: 3vw;
  }
  .section-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    background-color: $body-bg;
  }

  &.section-color--white {
    color: $body-color-inverted;

    .section-background {
      background-color: $body-bg-inverted;
    }
  }

  &.section-color--black {
    .section-background {
      background-color: black;
    }
  }

  &.section-height {
    &--small {
      min-height: auto;
    }

    &--medium {
      min-height: 66vh;
      padding-top: 6.6vmax;
      padding-bottom: 6.6vmax;
    }
    &--large {
      min-height: 100vh;

      > .container {
        padding-top: 20vmax;
      }
    }
  }

  &.content-width {
    width: 100%;

    &--narrow {
      .container-fluid {
        width: 50%;
      }
    }
    &--medium {
      .container-fluid {
        width: 75%;
      }
    }
  }

  &.horizontal-alignment {
    &--center {
      justify-content: center;
    }

    &--left {
      justify-content: flex-start;
    }
  }

  &.vertical-alignment {
    &--top {
      align-items: flex-start;
    }
    &--middle {
      align-items: center;
    }
    &--bottom {
      align-items: flex-end;

      .container {
        padding-bottom: 3vw;
      }
    }
  }

  &.text-alignment {
    &--center {
      text-align: center;
    }
  }
}
